{% extends "base/base.html" %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Ticket #: {{ ticket.id }}</h3>
        </div>
        <div class="panel-body">
            <p><strong>Description:</strong> {{ ticket.description }}</p>
            <p><strong>Created date:</strong> {{ ticket.created_date }}</p>
            <p><strong>User:</strong> {{ ticket.created_by }}</p>
            <p><strong>Status:</strong> {{ ticket.get_status_display }}</p>
            <p><strong>Response:</strong> {{ ticket.response }}</p>
        </div>
    </div>
{% endblock %}